# Ignore all .log files
*.log

# Ignore node_modules directory
backend/
models/

# Ignore environment variables
.env

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore temporary files
*.tmp
